
.staticMapZoom-zoomPane {
    opacity: 0;
    transition: opacity .5s, transform .5s;
}
.opacified {
    opacity: 1;
}
.translateZ--floor {
    transform: perspective(500px) translateZ(0);
}
.translateZ--down {

    transform: perspective(500px) translateZ(-100px);
}
.translateZ--up {
    transition-duration: .3s;
    transform: perspective(500px) translateZ(250px);
}

.staticMapZoom-reticle::after {
    content: '';
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: silver;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.75;
}
