.staticMapZoom {
    position: relative;
}

.staticMapZoom-zoomPane {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
    background-size: 100%;
}

.staticMapZoom-reticle {
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: silver;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.75;
    z-index: 100;
}
